body{
    /* background-color: #626b63; */
    font-family: 'DM Serif Display', serif;
    text-align: center;
    
}


/* NavBar */

.nav-link {
    font-family: 'DM Serif Display', serif;
}

/* Title */
 
.main-background{
    background-image: url(images/1.jpg);
    background-size: cover;
}

.heading-resize{
    /* width: 100%;
    height: auto; */
object-fit: cover;
width: 70%;
height: auto;
}