body{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    
}


/* NavBar */

.navbar{
    padding: 40px 0 0;
}

.nav-item {
    padding: 0 65px;
}

.navbar-brand{
    padding: 0 0 0 2%;
}

.nav-link {
    border-top: solid white;
    color: white;
    font-size: 18.5px ;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 3px;   
}

nav .navbar-nav li a{
    color: white !important;
    }

/* Title */
 
.main-background{
    background-image: url(images/1.jpg);
    background-size: cover;
}

.heading-resize{
object-fit: cover;
width: 70%;
height: auto;
}

.icon-styling{
    color: white;
    border-radius: 50%;
}

.icons-portion{
    padding: 0 0 150px 0 ;
}

/* About */

h2 {
    font-family: 'DM Serif Display', serif;
    margin: 100px auto 0;
    /* text-align: center; */
    font-size: 30px;
    /* use max-width to adjust space b/ word and line */
    max-width: 340px;
    position: relative;
}

h2:before {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: #191970;
    left: 0;
    top: 50%;
    position: absolute;
}
h2:after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: #191970;
    right: 0;
    top: 50%;
    position: absolute;
}
